<div class="footer-fixed white">
    <footer class="page-footer container white">
        <div class="footer-wrapper white">
            <div class="row">
                <div class="col l6 s12">
                    <a href="/" class="brand-logo left"><img
                            src="https://cdn.discordapp.com/attachments/974934029025542187/974994686873837578/logo1.png"
                            width="64" height="64" hspace="20" vspace="8" aria-label="На главную"></a>

                    <div class="col l6 s12">
                        <h6 class="black-text">Контакты</h6>
                        <ul class="black-text">
                            <li>
                                <p>kayamidiscord@gmail.com</p>
                                <p>qwexc_#5948</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h6 class="black-text">Cсылки</h6>
                    <ul>
                        <li><a class="black-text text-lighten-3" href="https://discord.gg/mDYnXbjGz6">
                                <p class="link">Сервер поддержки
                                    бота</p>
                            </a>
                        </li>
                        <li><a class="black-text text-lighten-3" href="/command">
                                <p class="link">Команды</p>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright white">
            <div class=" black-text"> © 2022 | Kayami </div>
        </div>
    </footer>
</div>