<div class="navbar-fixed">
    <nav class='navbar-fixed purple lighten-3'>
        <div class="nav-wrapper container purple lighten-3">
            <a href="/" class="brand-logo left"><img
                    src="https://cdn.discordapp.com/attachments/974934029025542187/974994686873837578/logo1.png"
                    width="64" height="64" vspace="4" aria-label="На главную"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="https://discord.gg/mDYnXbjGz6">Сервер поддержки бота</a></li>
                <li><a href="/command">Команды</a></li>
            </ul>
        </div>
    </nav>
</div>