{{> head}}

<body class="grey lighten-3">
    <div class="wrapper">
        {{> navbar}}
        <div class="content">
            <div class="container"> {{{body}}}</div>
        </div>
        <div class="footer white">{{> footer}}</div>
    </div>
</body>

</html>