<br />
<br />
<br />
<h1>Kayami - функциональный бот для вашего Discord сервера</h1>
<br />
<br />
<br />
<div class="row center">
    <a href="https://discord.com/api/oauth2/authorize?client_id=957673942909349989&permissions=8&scope=bot%20applications.commands"
        class="waves-effect purple lighten-1 btn-large ">Добавить бота на ваш сервер в Discord</a>
</div>
<br />
<br />
<br />
<div class="section">

    <div class="row">

        <div class="col s12 m6">
            <div class="card horizontal red darken-2">
                <div class="card-content white-text">
                    <span class="card-title">
                        <h4>Воспроизедение музыки</h4>
                    </span>
                    <br />
                    <p>Слушайте любимую музыку с YouTube, Spotify, SoundCloud и с легкостью управляйте очередью.</p>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card purple darken-4 darken-1">
                <div class="card-content white-text">
                    <span class="card-title">
                        <h4>Модерация</h4>
                    </span>
                    <br />
                    <p>Команды для модерации, позволяют с легкостью модерировать каналы вашего сервера.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card orange darken-1">
                <div class="card-content white-text">
                    <span class="card-title">
                        <h4>Взаимодействия</h4>
                    </span>
                    <p>Вы можете взаимодействовать с пользователями с помощью милых рп команд!</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            color: purple;
        }

        html,
        /*
            body {
                height: 100%;
            }*/

        .wrapper {
            /*display: flex;
                flex-direction: column;*/
            height: 100%;
        }

        .content {
            flex: 1 0 auto;
            padding-bottom: 90px;
            box-sizing: border-box;
            min-height: 100%;
        }

        .footer {
            flex: 1 0 auto;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 80px;
        }

        .link:hover {
            color: purple;
        }
    </style>